/*
=== Mobile view ===
*/
.cart-button {
    background: #F8BD47;
    color: black;
    font-weight: 700;
    border: 1px solid black;
    width: 60%;
    border-radius: 5px;
    padding: 0.5em;
}


/*
=== Tab view ===
*/
@media screen and (min-width: 768px){
    .whole-cart {
        margin-left: 1.8em;
    }
    .cart-button {
        background: #F8BD47;
        color: black;
        font-weight: 700;
        border: 1px solid black;
        width: 60%;
        border-radius: 5px;
        padding: 0.5em;
    }
}


/*
=== Desktop view ===
*/
@media screen and (min-width: 1200px){
    .whole-cart {
        margin-left: 3em;
    }
    .cart-button {
        background: #F8BD47;
        color: black;
        font-weight: 700;
        border: 1px solid black;
        width: 90%;
        border-radius: 5px;
        padding: 0.5em;
    }
}